extends ../layouts/default.pug
block main
 .container.container-flex
  main
    article.article-featured
     h2.popular-artists-title Popular Playlists
     .article-featured.flex-space
      each playlist in playlists
        .article-image
          a(href=`/playlist/${playlist._id}`)
            img(src=playlist.coverImage)
        p.article-info
        p.article-body
    
    article.article-featured
      if user && user.username
        h2.popular-artists-title #{user.username}'s Playlists
  
      .article-featured.flex-space
        each playlist in individualPlaylists
          .article-image.flex-space
            a(href=`/playlist/${playlist._id}`)
              img(src=playlist.coverImage)
              p.article-info Playlist • #{playlist.username}

    article.latest-release
      h2.latest-release-title Latest Release
      .latest-release-body.flex-space
       .latest-release-col
         each song, index in songs
          .latest-release-entry.flex-space
            .latest-release-image
              img(src=song.coverImage song-src=song.fileUrl
                song-name =song.title song-artist=song.artistFullName
                song-cover=song.coverImage)  
            .latest-release-info
              p
                a(href="#") 
                  b #{song.title}
              p.latest-release-sub MAR 29, 2019
            .action-icon
              i.fa.fa-ellipsis-h(action-menu-toggle aria-hidden="true")
              // Menu action
              .action-menu.hidden
                ul
                  li
                    a(
                      data-id=`${index + 1}`
                      add-to-playlist-button
                      data-song-id=`${song._id}`
                    ) Add to Playlist
                    .dropdown-menu-playlist-container
                      .dropdown-menu-playlist(data-id=index + 1)
                        ul
                          li
                            a(
                              data-title=`${song.title}`
                              data-song=`${song.id}`
                              data-coverImage=`${song.coverImage}`
                              data-path=`/playlist/create-playlist`
                              create-playlist 
                            ) New Playlist
                          each individualPlaylist in individualPlaylists 
                            li
                              a(
                                data-song=`${song.id}`
                                data-playlist=`${individualPlaylist.id}`
                                data-path=`/playlist/add-playlist`
                                add-playlist
                              ) #{individualPlaylist.title}
                  li
                    a(
                      data-path=`/favorite-songs/favorite-song/${song._id}`
                      favorite-song-button
                    ) #{favoriteSongIds.includes(song._id.toString()) ? 'Remove from your Favorited Songs' : 'Save to your Favorited Songs'}
                  li 
                    a(path=`queue/add-to-queue/${song._id}` queue-button
                    src-img-data=song.coverImage song-src-data=song.fileUrl
                    song-name-data =song.title song-artist-data=song.artistFullName
                    song-cover-data=song.coverImage
                    song-id =song._id artist-id= song.artist
                    ) Add to Queue
                  li 
                    a(href=`/artist/${song.artist}`) Go to the artist detail



    article.popular-artists
      h2.popular-artists-title Popular Artists
       .artist-container.flex-space
        each artist in artists
          .popular-artist-entry
            a(href=`/artist/${artist.id}`)
              img(src=artist.coverImage)
              p #{artist.fullName}
     
       
    //topic
    h2.popular-artists-title Hot Topics
      .article.stations.flex-space
        each topic in topics 
          .stations-entry
            a(href=`/topics/${topic.id}`)
              img(src=topic.imgTopic)
              .stations-centered #{topic.title}
      
      //topic

  include ../partials/queue.pug
 