extends ../layouts/default.pug
block main
 .container.container-flex
  main
    article.article-featured.flex-space
     h2.popular-artists-title Popular Playlists
     each playlist in playlists
      .article-image
        a(href=`/playlist/${playlist._id}`)
          img(src=playlist.coverImage)
      p.article-info
      p.article-body
    article.latest-release
      h2.latest-release-title Latest Release
      .latest-release-body.flex-space
       .latest-release-col
         each song in songs
          .latest-release-entry.flex-space
            .latest-release-image
              img(src=song.coverImage song-src=song.fileUrl
                song-name =song.title song-artist=song.artistFullName
                song-cover=song.coverImage)  
            .latest-release-info
              p
                a(href="#") 
                  b #{song.title}
              p.latest-release-sub MAR 29, 2019
            .action-icon
              i.fa.fa-ellipsis-h(action-menu-toggle aria-hidden="true")
              .action-menu.hidden
                ul
                  li 
                    a(href=`/add-to-playlist/${song._id}`) Add to Playlist
                  li 
                    a(
                    data-path=`/favorite-songs/favorite-song/${song._id}`
                    favorite-song-button
                    ) #{favoriteSongIds.includes(song._id.toString()) ? 'Remove from your Favorited Songs' : 'Save to your Favorited Songs'}
                  li 
                    a(href=`/add-to-queue/${song._id}`) Add to Queue
                  li 
                    a(href=`/artist/${song.artist}`) Go to the artist detail

      
    article.popular-artists
      h2.popular-artists-title Popular Artists
       .artist-container.flex-space
        each artist in artists
          .popular-artist-entry
            a(href=`/artist/${artist.id}`)
              img(src=artist.coverImage)
              p #{artist.fullName}
     
       
    //topic
    h2.popular-artists-title Hot Topics
      .article.stations.flex-space
        each topic in topics 
          .stations-entry
            a(href=`/topics/${topic.id}`)
              img(src=topic.imgTopic)
              .stations-centered #{topic.title}
      
      //topic

  include ../partials/queue.pug
 