extends ../layouts/default.pug
block main
 .container.container-flex
  main
    article.article-featured.flex-space
     each playlist in playlists
      .article-image
        a(href=`/playlist/${playlist._id}`)
          img(src=playlist.coverImage)
      p.article-info
      p.article-body
    article.latest-release
      h2.latest-release-title Latest Release
      .latest-release-body.flex-space
       .latest-release-col
         each song in songs
          .latest-release-entry.flex-space
            .latest-release-image
              img(src=song.coverImage song-src=song.fileUrl
                song-name =song.title song-artist=song.artist
                song-cover=song.coverImage)
               
            .latest-release-info
              p
                a(href="#") 
                  b #{song.title}
              p.latest-release-sub MAR 29, 2019
            .latest-release-options
              .like-icon
                i.fa(
                  class=`fa-heart-o${favoriteSongIds.includes(song._id.toString()) ? ' filled' : ''}`
                  aria-hidden="true"
                  data-path=`/favorite-songs/favorite-song/${song._id}`
                  favorite-song-button
                )
            .action-icon
              i.fa.fa-ellipsis-h(action-menu-toggle aria-hidden="true")
              .action-menu.hidden
                ul
                  li 
                    a(href=`/add-to-playlist/${song._id}`) Add to Playlist
                  li 
                    a(href=`/add-to-queue/${song._id}`) Add to Queue
                  li 
                    a(href=`#`) Go to the artist detail

      
    article.popular-artists
      h2.popular-artists-title Popular Artists
       .artist-container.flex-space
        each artist in artists
          .popular-artist-entry
            img(src=artist.coverImage)
            p #{artist.fullName}
     
       
    //topic
    article.stations.flex-space
      //- .stations-entry
      //-   img(src="src/stations_logo.jpg")
      .stations-entry
        img(src="src/love.jpg")
        .stations-centered Love
      
      //topic

    article.middle-featured.article-featured.flex-space
      .article-image
        img(src="src/party.jpg")
        .stations-centered.mid-featured-font Party
      .article-image
        img(src="src/electronic.jpg")
        .mid-featured-font.stations-centered Electronic
      .article-image
        img(src="src/road_trip.jpg")
        .mid-featured-font.stations-centered Road Trip
      p.article-info
      p.article-body
    article.latest-language
      h2.latest-language-title Latest English
      .song-container.flex-space
        .language-song-entry
          .language-image
            img(src="src/song_pic1.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry
          .language-image
            img(src="src/maroon5_cover.png")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry
          .language-image
            img(src="src/bad_guy.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry.display-none
          .language-image
            img(src="src/song_pic1.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry.display-none
          .language-image
            img(src="src/maroon5_cover.png")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry.display-none
          .language-image
            img(src="src/bad_guy.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
    article.latest-language
      h2.latest-language-title Latest Hindi
      .song-container.flex-space
        .language-song-entry
          .language-image
            img(src="src/song_pic1.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry
          .language-image
            img(src="src/maroon5_cover.png")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry
          .language-image
            img(src="src/bad_guy.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry.display-none
          .language-image
            img(src="src/song_pic1.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry.display-none
          .language-image
            img(src="src/maroon5_cover.png")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
        .language-song-entry.display-none
          .language-image
            img(src="src/bad_guy.jpg")
          p
            b Bad Guy
          p.language-sub.latest-release-sub MAR 29, 2019
  aside.sidebar
    h2.aside-title Queue
    .queue-entry.flex-space
      p.queue-number 01
      .queue-entry-image
        img(src="src/song_pic1.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 02
      .queue-entry-image
        img(src="src/bad_guy.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 03
      .queue-entry-image
        img(src="src/song_pic1.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 04
      .queue-entry-image
        img(src="src/bad_guy.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 05
      .queue-entry-image
        img(src="src/song_pic1.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 06
      .queue-entry-image
        img(src="src/bad_guy.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 07
      .queue-entry-image
        img(src="src/song_pic1.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")
    .queue-entry.flex-space
      p.queue-number 08
      .queue-entry-image
        img(src="src/bad_guy.jpg")
      .queue-entry-info
        p
          b Blinding lights
        p.language-sub.latest-release-sub.queue-entry-sub The Weeknd
      .like-icon
        a(href="#")
          i.fa.fa-heart-o(aria-hidden="true")