extends ../../layouts/default.pug
block main
 //  MAIN BODY 
 .container.container-flex
   main
    .featured-playlist.flex-space
      .featured-playlist-image
        img.featured-playlist-img(src=playlist.coverImage)
      .featured-playlist-details
        .featured-playlist-info
          .flex-space.featured-playlist-info-top
            .featured-playlist-info-name
              h2 #{playlist.title}
              p Vietnamese  Singer
            .followers
              p.followers 851 followers
        .featured-playlist-writeup
          p. 
            #{playlist.description}
            
        .featured-playlist-buttons
          .play-all-button
            button(class="playAllButton") Play All
            a(href) Follow
        h3(userID=`${playlist.user_id}`) #{playlist.createdBy} • #{playlist.songs.length} songs
    .playlist-next-item.flex-space
     each song,idx  in songsInPlaylist
      .playlist-next-item-entry.flex-space
        .playlist-next-item-entry-info.flex-space
          p.playlist-next-item-entry-number #{idx+1}
          .playlist-next-item-entry-info-image
            img.playlist-next-item-img(src=song.coverImage song-src=song.fileUrl
                song-name =song.title song-artist=song.artist
                song-cover=song.coverImage)
          .playlist-next-item-entry-info-name
            p
              b #{song.title}
            p.playlist-next-item-entry-info-name-sub #{song.artist}
        .playlist-next-item-entry-icons.flex-space
          a(href)
            i.fa.fa-heart-o(aria-hidden="true")
          a(href)
            i.fa.fa-plus(aria-hidden="true")

   #edit-modal.modal
    .modal-content
      h2 Edit details
      span.close &times;
      form.modal-body(
        action=`/playlist/save-playlist/${playlist.id}?_method=PATCH` 
        method="POST"
        enctype="multipart/form-data"
      )
        .image-grid
          img(
            src=playlist.coverImage, 
            alt="Playlist cover image", 
            class="uploadable-image", 
            id="playlistImage"
          )
          input#imageUploadInput(
            type="file", 
            name="coverImage", 
            accept="image/*", 
            style="display: none;"
          )
        input(
          type="text" 
          name="title" 
          placeholder="Playlist title" 
          value=playlist.title required
        )
        textarea(
          name="description" 
          placeholder="Add an optional description"
        ) #{playlist.description}
        button.save-button(type="submit") Save
        p.note 
            | By proceeding, you agree to give Spotify access to the image you choose to upload. 
            | Please make sure you have the right to upload the image.
